.first-page-introduction-div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  height: 25rem;
  font-size: 1rem;
  background-image: url("./assets/introductionBackground.png");
}

.top-level-container {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.main-buttons {
  animation-name: shrink;
  animation-duration: 0.5s;
  background-color: #ace5da;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  padding: 3%;
  width: 10rem;
  justify-content: space-around;
  height: 10rem;
  margin: 20px;
}

.main-buttons:hover {
  cursor: pointer;
  animation-name: expand;
  animation-duration: 0.5s;
  width: 12rem;
  height: 12rem;
}

.main-buttons span {
  font-size: 26px;
}

.iconImg {
  width: 50%;
  height: auto;
}

.arrow {
  width: 2rem;
  height: 2rem;
}

/* Animation*/

@keyframes expand {
  from {
    width: 10rem;
    height: 10rem;
  }
  to {
    width: 12rem;
    height: 12rem;
  }
}
@keyframes shrink {
  from {
    width: 12rem;
    height: 12rem;
  }
  to {
    width: 10rem;
    height: 10rem;
  }
}


@media only screen and (min-width: 710px) {
  .First-chart-container {
    margin-top: 2rem;
  }
  .header-image {
    width: 50%;
  }
  .First-chart-filters-holder {
    width: 53%;
    margin-right: 24%;
  }
  .card {
    height: 5rem;
  }
  .First-chart-figure-container {
    margin: 1rem auto;
  }
  .main-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
  }
  .first-page-introduction-div {
    font-size: 1.3rem;
  }
}

