.first-page-introduction-div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  height: 25rem;
  font-size: 1rem;
  background-image: url("./assets/introductionBackground.png");
}

.top-level-container {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.main-buttons {
  animation-name: shrink;
  animation-duration: 0.5s;
  background-color: #ace5da;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  padding: 3%;
  width: 10rem;
  justify-content: space-around;
  height: 10rem;
  margin: 20px;
}

.main-buttons:hover {
  cursor: pointer;
  animation-name: expand;
  animation-duration: 0.5s;
  width: 12rem;
  height: 12rem;
}

.main-buttons span {
  font-size: 26px;
}

.iconImg {
  width: 50%;
  height: auto;
}

.arrow {
  width: 2rem;
  height: 2rem;
}

/* Animation*/

@keyframes expand {
  from {
    width: 10rem;
    height: 10rem;
  }
  to {
    width: 12rem;
    height: 12rem;
  }
}
@keyframes shrink {
  from {
    width: 12rem;
    height: 12rem;
  }
  to {
    width: 10rem;
    height: 10rem;
  }
}
